div.container.text-center{
  min-height: calc(100vh - 50px);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Make the container at least the height of the viewport */
}

div.container-fluid {
  width: 100%; 
  background-color: #c5c8d0; 
  display: flex; 
  align-items: center; 
}

.navbar-nav {
  list-style: none; /* Removes the bullets */
  padding: 0;
  margin: 0; 
  display: flex; 
  flex-direction: row; 
}

.nav-item {
  margin-right: 100px; /* Add spacing between items */
}

.navbar {
  background-color: #c5c8d0; 
  padding: 1rem; 
  width: 100%; /* Full width */
}

h1.navbar-brand {
  padding-right: 50px;
}

.navbar-brand {
  font-size: 1.5rem; /* Font size for the brand */
  font-weight: bold; 
  color: #ffffff; 
  align-items: center;
}

ul.navbar-nav {
  padding-left: 250px;
}

/* Navbar Links */
.nav-link {
  color: #ffffff; 
  font-weight: bold; 
 /* padding: 0rem 4rem;  Padding for links */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s, background-color 0.3s; /* Smooth transition */
  
}

.nav-link:hover {
  color: #052240; /* Change text color on hover */
}

img.pic {
  width: 280px;
}

div.me {
  margin: 0 auto;
  text-align: center;
}

p.aboutme {
  width: 50%;
  padding-left: 25%;
}

.card {
  padding: 2em;
}

div.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
  min-height: 380px;
  background: #c5c8d0;
  text-align: center;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

.card-container {
  display: flexbox;
  flex-direction: row;
  align-items: center; 
}

h2 {
  text-align: center;
}

iframe {
  padding-left: 10%;
  padding-bottom: 5%;
}